.preview {
    background-color: var(--midnightCharcoal);

    &__container {
        margin: auto;
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: auto 100%;
        background-image: url("@img/earth-big.png");
        max-width: em(1835);
        padding-inline: $paddingContainer;

        @media all and (max-width: em(1650)) {
            background-size: auto 85%;
        }

        &__mobile_bg {
            text-align: center;
            display: none;

            > picture {
                > img {
                    max-width: 100%;
                    height: auto;
                }
            }

            > img {
                max-width: 100%;
                height: auto;
            }
        }

        &__content {
            @include container();
            @include flexVerticalGap(10);
            width: 100%;
            padding: toRem(120) 0 toRem(110) 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @media all and (max-width: $tablet) {
            background-image: none !important;
            flex-direction: column;

            &__mobile_bg {
                display: block;
            }

            &__content {
                padding: toRem(33) 0 0 0;
            }
        }

        @media all and (max-width: $pc) {
            background-size: auto 70%;
            // background-position: 110%;
        }
    }
}

.info {
    @include flexVerticalGap(13);

    > h2 {
        @include font(toRem(36), 2.5vw, toRem(55), 400, var(--white));
        max-width: 80%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(150), 1fr));
        gap: toRem(28);

        &__item {
            height: fit-content;
        }
    }

    @media all and (max-width: $tablet) {
        background-color: var(--midnightNavy);
        box-shadow: 0 0 0 100vmax var(--midnightNavy);
        clip-path: inset(0 -100vmax);
        padding: toRem(80) 0 toRem(144) 0;
    }

    @media all and (max-width: $pc) {
        > h2 {
            max-width: 30%;
        }

        &__list {
            max-width: 50%;
        }
    }

    @media all and (max-width: $tablet) {
        > h2 {
            max-width: none;
        }

        &__list {
            max-width: none;
        }
    }
}

.item {
    @include flexVerticalGap(3);

    &__wrapper {
        position: relative;
        height: toRem(40);
        overflow: hidden;

        > span {
            position: absolute;
            top: 50%;
            display: flex;
            align-items: center;
            left: 0;
            transform: translateY(-50%);
            @include font(
                toRem(40),
                3.3vw,
                toRem(52),
                500,
                var(--electricSkyBlue)
            );

            &.active {
                animation: slidein 50ms ease-out infinite;
            }
        }
    }

    @keyframes slidein {
        from {
            top: toRem(-70);
        }

        to {
            top: toRem(70);
        }
    }

    > p {
        color: $opacityText;
        font-size: toRem(14);
        font-weight: 400;
    }

    @media all and (max-width: $tablet) {
        gap: toRem(8);
    }
}

.content {
    &__heading {
        > h1 {
            // background-color: aqua;
            @include font(
                toRem(56),
                8.3vw,
                toRem(146),
                400,
                var(--white),
                var(--bebasNeue),
                100%
            );
            display: flex;
            flex-direction: column;

            > span:first-child {
                color: var(--skyAzure);

                > span {
                    color: var(--springBud);
                }
            }
        }
    }

    &__paragraph {
        margin-bottom: toRem(36);
        max-width: 50%;
        line-height: 108%;
        @include font(toRem(16), 1.5vw, toRem(26), 400, $opacityText, null);
    }

    @media all and (max-width: $tablet) {
        &__paragraph {
            max-width: none !important;
            // margin-top: toRem(25);
            margin-bottom: toRem(8);
        }
    }

    @media all and (max-width: em(1500)) {
        &__paragraph {
            max-width: 35%;
        }
    }

    @media all and (max-width: em(1300)) {
        &__paragraph {
            max-width: 30%;
        }
    }
}
