.service_overview {
    @include flexVerticalGap(26);
    padding: toRem(120) 0 toRem(100) 0;
    overflow: hidden;

    &__heading {
        @include container();
        @include flexVerticalGap(6);
        width: 100%;

        > h2 {
            @include font(
                toRem(36),
                4vw,
                toRem(70),
                700,
                var(--charcoalBlack),
                null,
                120%
            );
        }

        > p {
            max-width: 610px;
            @include font(
                toRem(16),
                3vw,
                toRem(18),
                400,
                var(--charcoalGray),
                null,
                170%
            );
        }
    }

    &__swiper {
        width: em(400);
        overflow: visible;
        margin: auto;
        padding-top: toRem(16);

        @media all and (max-width: 1700px) {
            width: em(380);
        }

        @media all and (max-width: 1440px) {
            width: em(360);
        }

        @media all and (max-width: 1300px) {
            width: em(340);
        }

        @media all and (max-width: $pc) {
            width: em(320);
        }

        @media all and (max-width: $mobile) {
            width: em(328);

            > .swiper-wrapper {
                > .swiper-slide {
                    width: fit-content;
                    padding: 0 toRem(9);
                    transform: scale(1) !important;
                }
            }
        }

        > .swiper-wrapper {
            display: flex;
            align-items: center;

            > .swiper-slide {
                overflow: hidden;
                transition: all 0.2s ease;
                display: flex;

                border-radius: toRem(18);
                transform: scale(0.82);

                &.active {
                    transform: scale(1);
                }

                &.swiper-slide-prev {
                    margin-right: 0;
                }

                &.swiper-slide-next {
                    margin-left: 0;
                }

                > picture {
                    width: 100%;

                    > img {
                        height: 100%;
                        width: 100%;
                    }
                }

                > img {
                    height: 100%;
                    width: 100%;
                }
            }

            @media all and (min-width: $mobile) {
                .swiper-slide {
                    margin-inline: toRem(-25);

                    &.active {
                        margin-inline: toRem(-17);
                    }

                    &.swiper-slide-prev {
                        margin-right: 0;
                    }

                    &.swiper-slide-next {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;

        > span {
            width: toRem(16);
            height: toRem(16);
            opacity: 1;
            background-color: var(--midnightIndigo);
            transition: all 0.2s ease;

            &.swiper-pagination-bullet-active {
                background-color: var(--electricSkyBlue);
            }
        }

        @media all and (max-width: $tablet) {
            margin-top: toRem(32);

            > span {
                width: toRem(12);
                height: toRem(12);
            }
        }
    }

    @media all and (max-width: $tablet) {
        @include flexVerticalGap(15);
        padding: toRem(80) 0 toRem(52) 0;
    }
}

.slide {
    position: relative;
    overflow: hidden;

    &__content {
        @include flexVerticalGap(5);
        justify-content: flex-end;
        // background: linear-gradient(
        //     180deg,
        //     rgba(33, 33, 33, 0) 0%,
        //     rgba(33, 33, 33, 0.45) 27%,
        //     rgba(33, 33, 33, 0.55) 34%,
        //     rgba(33, 33, 33, 0.75) 52%,
        //     rgba(33, 33, 33, 1) 100%
        // );
        background: linear-gradient(
            180deg,
            rgba(33, 33, 33, 0) 0%,
            rgba(33, 33, 33, 0.4822303921568627) 21%,
            rgba(33, 33, 33, 0.5438550420168067) 26%,
            rgba(33, 33, 33, 0.7371323529411764) 45%,
            rgba(33, 33, 33, 1) 100%
        );
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        color: white;
        padding: toRem(24) toRem(32);
        border-radius: toRem(18);
        transition: all 650ms ease;

        > h3 {
            @include font(toRem(26), 2.5vw, toRem(32), 500, var(--white), 122%);
        }

        > ul {
            transition: height 0.2s ease;
            overflow: auto;
            border: toRem(18);

            &::-webkit-scrollbar {
                display: none;
            }

            > li {
                list-style: inside;
                font-size: toRem(16);
                font-weight: 400;
                opacity: 0.7;
                line-height: 200%;
            }
        }

        @media all and (max-width: $mobile) {
            height: auto;
            right: toRem(9);
            left: toRem(9);
            bottom: 0;
            width: auto;

            > ul {
                display: none;
            }
        }
    }
}
