<section class="form">
    <div class="form__container">
        <div class="form__container__form form_box">
            <h2>Packages and Modules</h2>
            <div class="form_box__select_wrapper">
                <div class="heading">
                    <img src="@img/form/global.png" alt="global" />
                    <h3>1. Select your region(s):</h3>
                </div>
                <select name="" id="">
                    <option value="">Global</option>
                    <option value="">Global</option>
                </select>
            </div>
        </div>
        <div class="form__container__accordions accordions_box"></div>
    </div>
</section>
