<section class="news" id="news_bg">
    <div class="news__container new_container">
        <div class="swiper-scrollbar"></div>
        <div class="new_container__slider">
            <div class="swiper swiper_news">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- slides -->
                        <article class="news_article">
                            <div class="news_article__image">
                                <img
                                    src="@img/articles/1.png"
                                    alt="article-image"
                                />
                            </div>
                            <header>
                                <button>Drill Results</button>
                                <p>
                                    <time datetime="2022-12-01"
                                        >December 1, 2022</time
                                    >
                                </p>
                            </header>
                            <h3>
                                Sky Metals Announces Drilling Intercepts Broad,
                                Strong Tin Mineralization
                            </h3>
                            <p>
                                The company drilled two groundwater monitoring
                                bores as part of their mining and environmental
                                permitting process for their Tallebung Tin
                                Project in New South Wales. These bores were
                                positioned 140 m west of known tin
                                mineralisation and outside of the conceptual
                                open pit.
                            </p>
                        </article>
                        <article class="news_article">
                            <div class="news_article__image">
                                <img
                                    src="@img/articles/2.png"
                                    alt="article-image"
                                />
                            </div>
                            <header>
                                <button>Drill Results</button>
                                <p>
                                    <time datetime="2022-12-01"
                                        >December 1, 2022</time
                                    >
                                </p>
                            </header>
                            <h3>
                                Sky Metals Announces Drilling Intercepts Broad,
                                Strong Tin Mineralization
                            </h3>
                            <p>
                                The company drilled two groundwater monitoring
                                bores as part of their mining and environmental
                                permitting process for their Tallebung Tin
                                Project in New South Wales. These bores were
                                positioned 140 m west of known tin
                                mineralisation and outside of the conceptual
                                open pit.
                            </p>
                        </article>
                        <article class="news_article">
                            <div class="news_article__image">
                                <img
                                    src="@img/articles/3.png"
                                    alt="article-image"
                                />
                            </div>
                            <header>
                                <button>Drill Results</button>
                                <p>
                                    <time datetime="2022-12-01"
                                        >December 1, 2022</time
                                    >
                                </p>
                            </header>
                            <h3>
                                Sky Metals Announces Drilling Intercepts Broad,
                                Strong Tin Mineralization
                            </h3>
                            <p>
                                Sky Metals Limited (ASX: SKY) has announced the
                                results of the first phase of resource expansion
                                and infill drilling at the Tallebung Project,
                                building to a critical mass resource target for
                                mine scoping studies and potential future...
                            </p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="news_article">
                            <div class="news_article__image">
                                <img
                                    src="@img/articles/1.png"
                                    alt="article-image"
                                />
                            </div>
                            <header>
                                <button>Drill Results</button>
                                <p>
                                    <time datetime="2022-12-01"
                                        >December 1, 2022</time
                                    >
                                </p>
                            </header>
                            <h3>
                                Sky Metals Announces Drilling Intercepts Broad,
                                Strong Tin Mineralization
                            </h3>
                            <p>
                                The company drilled two groundwater monitoring
                                bores as part of their mining and environmental
                                permitting process for their Tallebung Tin
                                Project in New South Wales. These bores were
                                positioned 140 m west of known tin
                                mineralisation and outside of the conceptual
                                open pit.
                            </p>
                        </article>
                        <article class="news_article">
                            <div class="news_article__image">
                                <img
                                    src="@img/articles/2.png"
                                    alt="article-image"
                                />
                            </div>
                            <header>
                                <button>Drill Results</button>
                                <p>
                                    <time datetime="2022-12-01"
                                        >December 1, 2022</time
                                    >
                                </p>
                            </header>
                            <h3>
                                Sky Metals Announces Drilling Intercepts Broad,
                                Strong Tin Mineralization
                            </h3>
                            <p>
                                The company drilled two groundwater monitoring
                                bores as part of their mining and environmental
                                permitting process for their Tallebung Tin
                                Project in New South Wales. These bores were
                                positioned 140 m west of known tin
                                mineralisation and outside of the conceptual
                                open pit.
                            </p>
                        </article>
                        <article class="news_article">
                            <div class="news_article__image">
                                <img
                                    src="@img/articles/3.png"
                                    alt="article-image"
                                />
                            </div>
                            <header>
                                <button>Drill Results</button>
                                <p>
                                    <time datetime="2022-12-01"
                                        >December 1, 2022</time
                                    >
                                </p>
                            </header>
                            <h3>
                                Sky Metals Announces Drilling Intercepts Broad,
                                Strong Tin Mineralization
                            </h3>
                            <p>
                                Sky Metals Limited (ASX: SKY) has announced the
                                results of the first phase of resource expansion
                                and infill drilling at the Tallebung Project,
                                building to a critical mass resource target for
                                mine scoping studies and potential future...
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper_news_pagination"></div>
        <div class="new_container__heading">
            <h2>@@title</h2>
            <p>
                MDO team of seasoned professionals closely monitors mining news
                and press releases. As a result, our Mining Intelligence
                Database is always updated with the latest industry information
                available.
            </p>
            <button>Visit our News website</button>
        </div>
    </div>
</section>
