<section class="presentation">
    <div class="presentation__container container">
        <div class="container__slider">slider</div>
        <div class="container__heading">
            <h2>@@title</h2>
            <p>
                MDO team of seasoned professionals closely monitors mining news
                and press releases. As a result, our Mining Intelligence
                Database is always updated with the latest industry information
                available.
            </p>
            <div class="heading__btn_box">
                <button>Request a Demo</button>
                <button>View Sample</button>
            </div>
        </div>
    </div>
</section>
