<section class="preview">
    <div class="preview__mobile_bg">
        <img src="@img/Group-mobile.png" alt="earth" />
    </div>
    <div class="preview__content">
        <div class="preview__content__heading">
            <div class="preview__content__heading__line">
                <h1>Discover</h1>
                <h1>Analyze</h1>
            </div>
            <div class="preview__content__heading__line">
                <h1>Maximize Your</h1>
            </div>
            <div class="preview__content__heading__line">
                <h1>Profit</h1>
            </div>
        </div>
        <p class="preview__content__paragraph">
            MDO Database provides world coverage for the intelligence you need
            to identify and seize opportunities in mining.
        </p>
        <div class="preview__content__info info">
            <h2>Mining Database in numbers</h2>
            <ul class="info__list">
                <li class="info__list__item">
                    <span>0</span>
                    <p>Countries</p>
                </li>
                <li class="info__list__item">
                    <span>0</span>
                    <p>Processing Technologies</p>
                </li>
                <li class="info__list__item">
                    <span>0</span>
                    <p>Commodities</p>
                </li>
                <li class="info__list__item">
                    <span>0</span>
                    <p>Heavy Mobile Equipment Models</p>
                </li>
                <li class="info__list__item">
                    <span>0</span>
                    <p>Mines and Advanced Mining Projects</p>
                </li>
                <li class="info__list__item">
                    <span>0+</span>
                    <p>Key Contacts on Mine Sites</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="preview__height"></div>
</section>
<!-- width="1101" height="956" -->
