<section class="preview">
    <div class="preview__container">
        <div class="preview__container__mobile_bg">
            <img src="@img/Group-mobile.png" alt="earth" />
        </div>
        <div class="preview__container__content content">
            <div class="content__heading">
                <h1>
                    <span>Discover <span>Analyze</span></span>
                    <span>Maximize Your</span>
                    <span>Profit</span>
                </h1>
            </div>
            <p class="content__paragraph">
                MDO Database provides world coverage for the intelligence you
                need to identify and seize opportunities in mining.
            </p>
            <div class="preview__content__info info">
                <h2>Mining Database in numbers</h2>
                <ul class="info__list">
                    <li class="info__list__item">
                        <span id="n-1" class="count" data-count="99">0</span>
                        <p>Countries</p>
                    </li>
                    <li class="info__list__item">
                        <span id="n-2" class="count" data-count="120">0</span>
                        <p>Processing Technologies</p>
                    </li>
                    <li class="info__list__item">
                        <span id="n-3" class="count" data-count="140">0</span>
                        <p>Commodities</p>
                    </li>
                    <li class="info__list__item">
                        <span id="n-4" class="count" data-count="2400">0</span>
                        <p>Heavy Mobile Equipment Models</p>
                    </li>
                    <li class="info__list__item">
                        <span id="n-5" class="count" data-count="2400">0</span>
                        <p>Mines and Advanced Mining Projects</p>
                    </li>
                    <li class="info__list__item">
                        <span id="n-6" class="count" data-count="7000">0</span>
                        <p>Key Contacts on Mine Sites</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="preview__height"></div> -->
    </div>
</section>
<!-- width="1101" height="956" -->
