<section class="service_overview">
    <div class="service_overview__heading">
        <h2>@@title</h2>
        <p>
            MDO provides in-depth mining intelligence on operating mines and
            mining projects at PEA, PFS and Feasibility stages.
        </p>
    </div>
    <div class="service_overview__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-1.png" alt="slide" />
                <div class="slide__content">
                    <h3>Commodity Production, Costs and Financials</h3>
                    <ul id="list">
                        <li>Forecast Production</li>
                        <li>Current Production</li>
                        <li>Historic Production</li>
                        <li>Cash Costs</li>
                        <li>All-in Sustained Costs (AISC)</li>
                        <li>All-in Costs</li>
                        <li>Mine Financials: Revenue, Income, EBITDA</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-2.png" alt="slide" />
                <div class="slide__content">
                    <h3>Key Mine Personnel and Workforce</h3>
                    <ul id="list">
                        <li>
                            More than 7,000 key decision makers at mine sites
                            and consultants:
                        </li>
                        <li>General and Engineering Managers</li>
                        <li>Mine and Operation Managers</li>
                        <li>Mine and Plant Maintenance Managers</li>
                        <li>Processing Managers</li>
                        <li>Procurement Staff and more…</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-3.png" alt="slide" />
                <div class="slide__content">
                    <h3>Geology, Mineral Reserves and Resources</h3>
                    <ul id="list">
                        <li>Deposit Type</li>
                        <li>Mineralogy and Deposit Dimentions</li>
                        <li>Proven and Probable Reserves</li>
                        <li>Measured and Indicated Resources</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-4.png" alt="slide" />
                <div class="slide__content">
                    <h3>Mining Operations</h3>
                    <ul id="list">
                        <li>Mining Methods and Technologies</li>
                        <li>Mining Scale, tpd</li>
                        <li>Tonnes mined and processed</li>
                        <li>Pit design details</li>
                        <li>Hoist Shaft depth</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-5.png" alt="slide" />
                <div class="slide__content">
                    <h3>Heavy Mobile Equipment</h3>
                    <ul id="list">
                        <li>Mining Methods and Technologies</li>
                        <li>Mining Scale, tpd</li>
                        <li>Tonnes mined and processed</li>
                        <li>Pit design details</li>
                        <li>Hoist Shaft depth</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-6.png" alt="slide" />
                <div class="slide__content">
                    <h3>Comminution, Crushers and Mills</h3>
                    <ul id="list">
                        <li>
                            1,200 mines and projects with crushers/mills data
                        </li>
                        <li>250 models</li>
                        <li>1,900 units</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-7.png" alt="slide" />
                <div class="slide__content">
                    <h3>Mineral Processing</h3>
                    <ul id="list">
                        <li>Processing Technologies</li>
                        <li>Reagents</li>
                        <li>Recovery Technologies</li>
                        <li>Recovery Rates</li>
                        <li>Flowsheet Diagrams</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-8.png" alt="slide" />
                <div class="slide__content">
                    <h3>Project Costs and Returns</h3>
                    <ul id="list">
                        <li>CapEx</li>
                        <li>OpEx</li>
                        <li>Revenue</li>
                        <li>Cash Flow</li>
                        <li>Net Present Value (NPV)</li>
                        <li>Interntal Rate of Return (IRR)</li>
                        <li>Mine Financials: Revenue, Income, EBITDA</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-9.png" alt="slide" />
                <div class="slide__content">
                    <h3>Project Development Timeline</h3>
                    <ul id="list">
                        <li>Mining Permitting Timeline</li>
                        <li>Construction Timeline</li>
                        <li>Production Start Date</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-10.png" alt="slide" />
                <div class="slide__content">
                    <h3>Water Supply and Consumption</h3>
                    <ul id="list">
                        <li>Water Supply Volumes and Rates</li>
                        <li>Water Pumps and Pipelines</li>
                        <li>Slurry Pipelines</li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide slide">
                <img src="@img/first-slider/slide-11.png" alt="slide" />
                <div class="slide__content">
                    <h3>Conveyors and Pipelines</h3>
                    <ul id="list">
                        <li>440 mines and projects with coveyor data</li>
                        <li>Conveyor Type and Length</li>
                        <li>Belt width and Motor power</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="service_overview__pagination"></div>
</section>
