.header {
    background-color: var(--midnightBlack);
    padding-inline: $paddingContainer;
    position: sticky;
    top: 0;
    z-index: 10;

    &__container {
        @include container();
        background-color: var(--midnightBlack);
        display: flex;
        justify-content: space-between;
        height: $headerHeight;
        font-size: toRem(14);
        gap: toRem(38);
        color: $opacityText;
        padding-inline: 0;

        &__btn_burger {
            display: none;
            height: toRem(24);
        }

        &__logo {
            @include flexRow(center);
            gap: toRem(24);

            > a {
                margin-left: toRem(-120);

                @media all and (max-width: em(1880)) {
                    margin-left: 0;
                }
            }

            @media all and (max-width: $tablet) {
                margin-left: auto;

                > a {
                    height: toRem(24);

                    > img {
                        width: toRem(99);
                        height: toRem(24);
                    }
                }

                > figcaption {
                    display: none;
                }
            }
        }

        &__nav_box {
            @include flexRow(center);
            gap: toRem(124);

            @media all and (max-width: em(1300)) {
                gap: toRem(100);
            }

            @media all and (max-width: $pc) {
                gap: toRem(40);
            }
        }

        @media all and (max-width: $tablet) {
            align-items: center;

            &__btn_burger {
                display: block;
            }
        }
    }
}

@mixin hoverBtn {
    > span {
        transition: transform 150ms ease;
    }

    @media (hover: hover) {
        &:hover {
            > span {
                transform: scale(1.05);
            }
        }
    }
}

.nav_box {
    &__navigation {
        > ul {
            display: flex;
            gap: toRem(38);

            > li > a {
                color: $opacityText;

                @media (hover: hover) {
                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
    }

    &__services {
        @include flexRow(center);
        gap: toRem(24);

        &__sign_in {
            @include button(transparent, 0, 0, null, $opacityText);
            display: flex;
            align-items: center;
            gap: toRem(8);

            > img {
                transition: opacity 150ms ease;
                opacity: 0.6;
            }

            @media (hover: hover) {
                &:hover {
                    color: var(--white);

                    > img {
                        opacity: 1;
                    }
                }
            }
        }

        &__subscribe {
            @include button(
                var(--springLime),
                toRem(6) toRem(10),
                $smallRadius
            );
            @include hoverBtn;
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media all and (max-width: $pc) {
        &__navigation > ul {
            gap: toRem(28);
        }

        &__services {
            gap: toRem(16);
        }
    }

    @media all and (max-width: $tablet) {
        &__navigation {
            display: none;
        }

        &__services {
            &__sign_in {
                display: none !important;
            }
        }
    }
}
