@import "./reset.scss";
@import "./mixins.scss";
@import "./variables.scss";

@import "./widgets/header.scss";
@import "./components/preview.scss";
@import "./components/service-overview.scss";
@import "./components/news-slider.scss";
@import "./components/presentation.scss";
@import "./widgets/footer.scss";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    // Fonts
    --poppins: Poppins;
    --bebasNeue: Bebas Neue;
    --fontSize: 16px;

    // colors
    --midnightBlack: #0c0d11;
    --midnightNavy: #12131c;
    --midnightCharcoal: #151721;
    --charcoalBlack: #151515;
    --midnightIndigo: rgba(52, 56, 78, 0.1);
    --darkMidnightIndigo: rgba(52, 56, 78, 10%);
    --pureWhite: rgba(255, 255, 255, 0.5);
    --charcoalGray: #5b5b5b;
    --lightSilver: #f4f4f4;
    --white: #ffffff;
    --springLime: #92c53e;
    --skyAzure: #3f97eb;
    --aquaSky: #02a1d3;
    --springBud: #93c246;
    --electricSkyBlue: #02c2ff;

    --paddingContainer: 80px;
    --paddingMinusContainer: -30px;
    --headerHeight: 56px;
    --footerHeight: toRem(36);

    // sliders
    --swiper-scrollbar-size: 10px;
    --swiper-scrollbar-bg-color: #d9d9d9;
    --swiper-scrollbar-drag-bg-color: var(--electricSkyBlue);
    --swiper-scrollbar-sides-offset: 40%;

    @media (max-width: $mobile) {
        --fontSize: 14px;
    }

    @media all and (max-width: $pc) {
        --paddingContainer: 24px;
    }
}

html,
body {
    height: 100%;
    font-family: var(--poppins);

    ::-webkit-scrollbar {
        width: toRem(3);
        height: toRem(3);

        &-thumb {
            background-color: var(--skyAzure);
            border-radius: toRem(2);
        }

        &-track {
            background-color: #fff;
        }
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.root_main {
    flex: 1 1 auto;
}
