@use "sass:math";
@import "./mixins";

// Variables ==============================================================================================================================================================================================================================================================================
$mainColor: var(--mainColor);
$accent: var(--accent);
$transition: 0.2s ease;

$headerHeight: var(--headerHeight);
$radius: toRem(12);
$smallRadius: toRem(6);
$opacityText: rgba(255, 255, 255, 0.7);

// Settings ===============================================================================================================================================================================================================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1642;
$paddingContainer: var(--paddingContainer);
$paddingMinusContainer: var(--paddingMinusContainer);
// 1835

// Media
$pc: em(1199.98);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);
